

/* Container */
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header */

.page-header {
}

/* Navigation */

.site-nav {
  display: inline-flex;
}

.site-nav__list {
  display: inline-flex;
}

.site-nav__item {
}
.site-nav__link {
}

/* Logo */

.logo {
}
.logo__statick {
}
.logo__page-header {
}
.logo__page-footer {
}

/* Button */

.btn{

}



/* hero */
.section-hero{

}
.section-hero__title{

}

/* Section */
.section{
padding: 94px 0;
}
.section__title{

}

/* Benefits */

.benefits{

}

.benefits__list{

}
.benefits__list::before{
    content: '';
    display: block;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;

}
.benefits__list:nth-child(1)::before{
    background-image: url(../image/svg/benefits/antenna-1.svg);

}
.benefits__title{

}
.benefits__decription{

}
/* Features */

.features {
    display: flex;
    flex-wrap: wrap;

}
.features__list {
    position: relative;
    width: 370px;
    height: 294px;
    background-size: contain;
    background-repeat: no-repeat;
}
.features__list:nth-child(1){
    background-image: url(../image/Main/do/box1.jpg);
}
.features__description {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    margin: 0;
    color: white;
    background: rgba(47, 48, 58, 0.8);
}

/* team */
.team {
}
.team__list {
}
.team__photo {
}
.team__meta {
}
.team__name {
}
.team__position {
}


/* social */
.social {
}
.social__item {
}
.social__link {
}
.social__icon {
}

/* clients */

.clients {
}
.clients__list {
}
.clients__link {
}
.clients__logo {
}


/* footer */
.page-footer{
    
}