/* основной черний цвет #212121 */
/* вторичний цвет #757575 */
/* accent #2196F3 */
:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-bgc: #2f303a;
  --contact-color: rgba(255, 255, 255, 0.6);
  --second-bgc: #f5f4fa;
  --social-bgc: #afb1b8;
  --social-join: rgba(255, 255, 255, 0.1);
  --bgc-overlay: rgba(33, 150, 243, 0.9);
  --bgc-backdrop: rgba(0, 0, 0, 0.2);
  --border-form: rgba(33, 33, 33, 0.2);
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

/* Обнуление */
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Общее для тайтлов */
.title {
  margin-bottom: 1.39em;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 2.25em;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.sub-title {
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section {
  padding-top: 5.875em;
  padding-bottom: 5.875em;
}
/* Header */
.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 1.625em;
  line-height: 1.29;
  margin-right: 94px;
  padding-top: 0.92em;
  padding-bottom: 0.9em;
}
.nav-list {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.875em;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-left: auto;
  align-content: baseline;
}
.nav-list > li:not(:first-child) {
  margin-left: 50px;
}
.logo-blue {
  color: var(--accent-color);
}
.logo-black {
  color: #000000;
}
.logo-white {
  color: #ffffff;
}
.nav-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
  line-height: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cont-link {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--second-text-color);
  text-align: center;
  line-height: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-cont {
  margin-right: 0.625em;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-cont:hover,
.icon-cont:focus {
  fill: currentColor;
}

.nav-link:hover,
.nav-link:focus,
.cont-link:hover,
.cont-link:focus,
.adress-link .link:hover,
.adress-link .link:focus {
  color: var(--accent-color);
}
.current {
  display: flex;
  color: var(--accent-color);
  flex-direction: column;
}
.current::after {
  content: '';
  display: flex;
  min-width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  align-self: center;
}
.current .nav-link {
  padding-top: 36px;
  padding-bottom: 28px;
}
.nav-cont {
  display: flex;
}
.nav-item {
  display: flex;
}

/* Main */

/* Intro */
.intro {
  padding-top: 12.5em;
  padding-bottom: 12.5em;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--primary-bgc);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/Main/intro/bg-intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.intro-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.68em;
  max-width: 650px;
  color: var(--white-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 2.75em;
  line-height: 1.26em;
}

/* btn */
.btn {
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.53em;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.btn.primary {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--white-color);
  letter-spacing: 0.06em;
  font-weight: 700;
}
.btn.primary:hover,
.btn.primary:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* Преимущества */
.our-benefit {
  padding-top: 5.875em;
}
.benefits,
.header-title {
  display: none;
}
.benefits-list {
  display: flex;
}
.icon-item {
  margin-bottom: 30px;
  min-width: 270px;
  min-height: 120px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-bgc);
}
.icon-benefits {
  fill: currentColor;
}
.benefits-list .item {
  width: calc((100% - 90px) / 4);
}
.benefits-list .item:not(:last-child) {
  margin-right: 30px;
}
.benefits-title {
  margin-bottom: 0.75em;
  color: var(--primary-text-color);
}
.benefits-description {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* Чем мы занимаемся */
.doing-list {
  display: flex;
}
.doing-list > li:not(:last-child) {
  margin-right: 30px;
}
.doing-list li {
  position: relative;
}

.doing-list li p {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1.28;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда  */
.team {
  background-color: var(--second-bgc);
}
.team-list {
  display: flex;
}
.team-container {
  display: block;
  background-color: var(--white-color);
  height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-descr {
  padding-top: 1.875em;
  padding-bottom: 1.875em;
  padding-left: 2em;
  padding-right: 2em;
}
.team-name {
  margin-top: 0;
  margin-bottom: 0.625em;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-position {
  margin-top: 0;
  margin-bottom: 1em;
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-container:not(:last-child) {
  margin-right: 30px;
}

/* Social */

.social {
  display: inline-flex;
}

.social-item {
  min-width: 44px;
  min-height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social li:not(:last-child) {
  margin-right: 10px;
}
.social-team .social-item {
  color: var(--social-bgc);
  background-color: var(--white-color);
}
.icon-social {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-footer .social-item {
  color: var(--white-color);
  background-color: var(--social-join);
}

.social-item:hover,
.social-item:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
/* Клиенты */
.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.item-client {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 170px;
  min-height: 92px;
  color: var(--social-bgc);
  border: 1px solid var(--social-bgc);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-client:focus,
.item-client:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.clients-list li:not(:last-child) {
  margin-right: 30px;
}
.icon-client {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
/* Футер */
.footer {
  padding: 3.75em 0;
  background-color: var(--primary-bgc);
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.footer-container > li {
  /* min-width: 100px; */
  margin-right: auto;
}
.footer-container > li:last-child {
  margin-right: 0;
}
.footer-container > li:not(:first-child) {
  margin-top: 12px;
}
.footer-adress {
  padding: 0;
  margin-bottom: 0;
  margin-top: 1.42em;
  font-weight: 400;
  font-size: 0.875em;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress-link {
  margin: 0.642em 0;
}
.adress-link:first-child,
.adress-link:last-child {
  margin: 0;
}
.adress-link .link {
  line-height: 1.71;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress {
  color: var(--white-color);
}
.contact {
  color: var(--contact-color);
}

/* Присоединяйтесь */
.title-join {
  margin-bottom: 1.42em;
  color: var(--white-color);
}
.subscribe {
  /* display: flex;
  flex-wrap: wrap; */
}
.subscribe > form {
  display: flex;
  /* flex-wrap: wrap; */
  /* width: 100%; */
}
.subscribe > form > input {
  min-width: 358px;
  max-height: 50.47px;
  margin-right: 10px;
  color: var(--white-color);
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.btn.send {
  display: flex;
  padding: 13px 29px;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.icon-send {
  margin-left: 10px;
  fill: currentColor;
}

/* Портфолио */
.header {
  border-bottom: 1px solid #ececec;
}
.portfolio {
  align-items: center;
  padding-top: 5.875em;
  padding-bottom: 5.875em;
}
.portfolio-title {
  display: none;
}
/* Кнопки портфолио */
.btn.second {
  background-color: var(--second-bgc);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-weight: 500;
  padding: 6px 22px;
}
.btn.second:focus,
.btn.second:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* Наши роботы */
.list-filter {
  display: flex;
  margin-bottom: 3.125em;
  justify-content: center;
}
.list-filter .filter-unit + .filter-unit {
  margin-left: 8px;
}
.link .work-descr {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border: 1px solid #eeeeee;
}
.work-item {
  display: inline-block;
  width: calc((100% - 60px) / 3);
  background: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-item:hover,
.work-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.work-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: var(--bgc-overlay);
  color: var(--white-color);
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.55;
  overflow: hidden;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-item > a:hover .overlay-text,
.work-item > a:focus .overlay-text {
  transform: translateY(0);
}
.link .exampl-name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 1.13em;
  line-height: 2;
  letter-spacing: 0.06em;
  /* margin-bottom: 0.23em; */
}
.link .exampl-descr {
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 1em;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: var(--bgc-backdrop);
}
.backdrop.is-hidden {
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(219, 32, 32, 0.12)), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: var(--primary-text-color);
  background-color: #fff;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover {
  color: var(--accent-color);
}
.icon-btn-close {
  fill: currentColor;
}

.client-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.client-form > .sub-title {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  text-transform: none;
  color: var(--primary-text-color);
}
.client-form > label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;

  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.container-input {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;

}

.input-form:focus {
  outline: transparent;
  border-color: var(--accent-color);
}
.input-form:focus ~ .icon-form {
  color: var(--accent-color);
}

.container-input:hover {
  color: var(--accent-color);
}
.container-input:hover .input-form {
  border-color: var(--accent-color);
}
.input-form {
  padding: 12px 42px;
  width: 448px;
  height: 40px;
  color: var(--primary-text-color);
  border: 1px solid var(--border-form);
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-comment {
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid var(--border-form);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-form > label > .label-title {
  margin-bottom: 0.3em;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
.icon-form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-form .label-policy {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  color: var(--second-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.icon-checkbox {
  display: inline-block;
  align-self: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}
.input-policy:checked + .icon-checkbox {
  background-image: url(../image/svg/icon-checkbox.svg);
  background-size: contain;
  background-color: var(--accent-color);
  background-origin: border-box;
  border-color: transparent;
}
.link-policy {
  margin-left: 5px;
  color: var(--accent-color);
}
.btn-form-submit {
  align-self: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn-form-submit:hover,
.btn-form-submit:focus {
  background-color: #188ce8;
}
