// form subscribe
.subscribe {
  display: flex;
}
.subscribe__input {
  min-width: 358px;
  max-height: 50.47px;
  margin-right: 10px;
  color: $white-color;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid $form-input-subscr-border;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscribe__icon-send {
  margin-left: 10px;
  align-self: center;
}

// form modal

.client-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.client-form__title {
  @extend %fonts-client-form__title;
  color: $primary-text-color;
  margin: 0;
  margin-bottom: 12px;
}
.client-form__label {
  @extend %fonts-client-form__label;
  position: relative;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  color: $second-text-color;

  &:hover .client-form__input {
    border-color: $accent-color;
  }
  &.client-form__label--last {
    margin-bottom: 20px;
  }
}
.client-form__input {
  margin-top: 4px;
  padding: 12px 42px;
  width: 448px;
  height: 40px;
  font-size: 16px;
  color: $primary-text-color;
  border: 1px solid $form-input-border;
  border-radius: 4px;
  cursor: pointer;
  transition: $cubic;

  &:focus {
    border-color: $accent-color;
    outline: transparent;
  }
}
.client-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  fill: $primary-text-color;
  transform: translateY(calc(-50% + 9px));
  transition: $cubic;

  .client-form__label:hover & {
    fill: $accent-color;
  }
  .client-form__input:focus ~ & {
    fill: $accent-color;
  }
}
.client-form__comment {
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  resize: none;
  font-size: 16px;
  border: 1px solid $form-input-border;
  border-radius: 4px;
  transition: $cubic;

  &:hover,
  &:focus {
    border-color: $accent-color;
    outline: transparent;
  }
}

.icon-form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-form__label-policy {
  @extend %fonts-description;
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  color: $second-text-color;
}
.client-form__icon-checkbox {
  display: inline-block;
  align-self: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid $primary-text-color;
  border-radius: 2px;
}
.client-form__input-policy:checked + .client-form__icon-checkbox {
  background-image: url(../image/svg/icon-checkbox.svg);
  background-size: contain;
  background-color: $accent-color;
  background-origin: border-box;
  border-color: transparent;
}
.client-form__link-policy {
  margin-left: 5px;
  color: $accent-color;
}
