.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: $white-color;
  border-radius: 4px;
  box-shadow: $shadow-modal;
}
